<div class="modal">
<div class="bar bar-header bar-calm">
  <h1 class="title">Input Employee</h1>
  <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
</div>

<content has-header="true" padding="true" style="padding: 10px">
<div class="list" style="padding-top:20px">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nip</span>
    <input type="text" placeholder="123" ng-model="input.number">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Your name" ng-model="input.fullName">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span>
    <input type="text" placeholder="Your address" ng-model="input.address">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Your email" ng-model="input.email">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone</span>
    <input type="text" placeholder="081xx" ng-model="input.phone">
  </label>
</div>
</content>
<ion-footer-bar align-title="center" class="bar-assertive">
    <button class="button" ng-click="save()">Save</button>
</ion-footer-bar>
</div>
