<ion-view view-title="Login" hide-nav-bar="true" hide-back-button="true" style="background-color: #00BFFF">
<content style="padding:20px">
    <center>
        <h1 style="color: #fff" style="font-weight: bold">Employee Apps</h1>
        <h4 style="color: #fff">Please Login</h4>
    </center>
    <div class="list">
    <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="login.email">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="login.password">
    </label>
    </div>
    <center>
        <button class="button button-assertive" ng-click="dologin()">Login</button>
        <button class="button button-balanced" ng-click="signupOpen()">Signup</button>
    </center>
</content>
</ion-view>
