<ion-view view-title="Employee">
    <ion-nav-buttons side="right">  
        <button class="button button-icon button-clear ion-plus" ng-click="">
        </button>
        <button class="button button-icon button-clear ion-refresh" ng-click="refresh()">
        </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="emp in employee" type="item-text-wrap" href="#/tab/employee/{{emp.id}}">
        <img ng-src="img/perry.png">
        <h2>{{emp.fullName}}</h2>
        <p>{{emp.email}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(emp)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
